<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ScoreMapper">

    <insert id="insertScore" useGeneratedKeys="true" keyProperty="id">
        insert into SCORE (NAME, SCORE, USERID, SCORETYPE, SCOREGRADE, ADDTIME, ADDUSER, LASTUPDUSER)
        values (#{name}, #{score}, #{user.id}, #{scoreType}, #{scoreGrade}, #{addTime}, #{addUser}, #{lastUpdUser})
    </insert>

    <select id="selectScoreByUserId" resultType="com.model.Score">
        select ID, NAME, SCORE, SCORETYPE, SCOREGRADE, ADDTIME from SCORE
        <where>
            <if test="_parameter != null">
                USERID = #{_parameter}
            </if>
        </where>
    </select>

    <select id="selectScore" resultType="com.model.Score">
        select ID, NAME, SCORE, SCORETYPE, SCOREGRADE, ADDTIME, ADDUSER, LASTUPDUSER from SCORE
    </select>

</mapper>